.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
.container .page {
  max-width: 28rem;
  line-height: 1.8;
  margin-right: auto;
}
.container .page h1 {
  font-weight: 500;
  color: var(--text-Purple-950);
  margin-bottom: 0.75rem;
}
.container .page h1 + p {
  color: var(--text-Gray-500);
}
.container .illustration {
  width: 17rem;
  background-color: var(--color-Gray-100);
  height: 32rem;
  box-shadow: 0 0 2rem 0rem var(--color-Purple-950),
    inset 0 0 0rem 1rem var(--color-White),
    inset 0 0 0.1rem 1rem var(--color-Purple-950);
  border-radius: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
}
.container .illustration .header {
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  background-image: var(--gradient);
  position: relative;
  color: var(--color-Gray-100);
  padding: 1.5rem 1rem 0rem 0.25rem;
  display: grid;
  grid-template-columns: 1rem auto 1fr 1rem;
  gap: 0.5rem;
  box-shadow: 0 0.4rem 2rem -1rem var(--color-Purple-950);
}
.container .illustration .header::before {
  content: "";
  position: absolute;
  background-color: var(--color-Gray-100);
  width: 9rem;
  height: 1.25rem;
  border-radius: 0 0 1rem 1rem;
  left: calc(50% - 9rem / 2);
  top: 0%;
}
.container .illustration .header::after {
  content: "";
  box-shadow: 0 0 2rem 0rem var(--color-Purple-950);
}
.container .illustration .header img {
  width: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--color-Gray-100);
}
.container .illustration .header h1 {
  font-weight: 500;
  font-size: 0.75rem;
}
.container .illustration .header p {
  font-size: 0.6rem;
  opacity: 0.8;
}
.container .illustration .header .return-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -0.4rem;
}
.container .illustration .header .return-icon::before,
.container .illustration .header .return-icon::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  border: 0.2rem solid transparent;
  border-radius: 0.25rem;
}
.container .illustration .header .return-icon::before {
  border-left-color: var(--color-Gray-100);
  transform: rotate(30deg);
  top: 25%;
  border-bottom-left-radius: 25%;
}
.container .illustration .header .return-icon::after {
  border-bottom-color: var(--color-Gray-100);
  transform: rotate(60deg);
  top: 33%;
  border-bottom-left-radius: 25%;
}
.container .illustration .header .info-icon {
  border-right: 0.25rem dotted;
  height: 1rem;
  margin: auto 0 auto auto;
  transform: scale(0.8);
}
.container .illustration .main {
  font-size: 0.55rem;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
}
.container .illustration .main .left,
.container .illustration .main .right,
.container .illustration .main .price {
  width: 64%;
  padding: 0.5rem;
  border-radius: 0.8rem;
}
.container .illustration .main .left {
  color: var(--text-Purple-600);
  background-color: hsl(206deg 6% 79% / 40%);
  border-bottom-left-radius: 0.3rem;
}
.container .illustration .main .right {
  color: var(--text-Gray-500);
  background-color: var(--color-White);
  border-bottom-right-radius: 0.3rem;
  box-shadow: 0 0.3rem 1rem -0.5rem;
}
.container .illustration .main .right,
.container .illustration .main .imgs {
  margin-left: auto;
}
.container .illustration .main .imgs img {
  width: 3rem;
  border-radius: 0.8rem;
  margin-left: 0.3rem;
}
.container .illustration .main .price {
  width: 75%;
  background-image: var(--gradient);
  color: var(--color-Gray-100);
  border-bottom-left-radius: 0.3rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
}
.container .illustration .main .price div {
  height: 1rem;
  width: 1rem;
  border: 0.15rem solid;
  border-radius: 50%;
}
.container .illustration .main .price h1 {
  font-size: 1rem;
}
.container .illustration .footer {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0 0.6rem 0.6rem;
}
.container .illustration .footer input {
  border: 0;
  pointer-events: none;
}
.container .illustration .footer input::placeholder {
  color: var(--text-Gray-300);
}
.container .illustration .footer div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-Purple-950);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .illustration .footer div::before {
  content: "";
  border: 0.2rem solid;
  width: 0.4rem;
  height: 0.4rem;
  transform: rotate(45deg);
  border-color: var(--color-Gray-100) var(--color-Gray-100) transparent
    transparent;
  border-radius: 0.2rem;
  margin-left: -0.25rem;
}
