@media (max-width: 801px) {
  body::before {
    left: -25%;
    top: -5%;
  }
  body::before,
  .container {
    transform: scale(0.9);
  }
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .container .page {
    text-align: center;
    padding-bottom: 5rem;
  }
  .attribution {
    display: none;
  }
}
